#mainNav {
    margin-bottom: 0;
}

body{
    background-image: url("../img/landing_background.png");
}

.main-content{
	height: 10%;
	margin: 15% 55%;
	text-align: center;
	visibility: none;
}

.ui.inverted.secondary.menu {
    margin-bottom: 20px;
}

.ui.tab.segment.active {
    margin-top: 0;
    height: 100%;
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
}

.ui.items>.item>.content a:not(.ui) {
    display: block;
}

.right-nav-button {
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 0px inset;
    display: inline-block;
    background: inherit;
    padding: 8px 12px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.5s;
}

#acuity-button:hover , #ka-button:hover {
    background-color: white;
    color: black;
}

.description a, .description p {
    display: inline;
}

#main-logo {
    height: 50%;
    width: 90%;
}